.organizations {
  width: 100%;
  background-color: #1f1f1f;
}

.help-text {
  color: rgb(81, 194, 141);
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  font-size: 25px;
}

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: whitesmoke;
}

.organization-container {
  padding-top: 50px;
  padding-bottom: 270px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card-image {
  height: 350px;
  width: 80%;
}

.organization-name {
  height: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.organization-name > p {
  font-size: 30px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .organization-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-container {
    width: 390px;
  }
  .help-text {
    padding-top: 100px;
    font-size: 40px;
  }
}

@media only screen and (min-width: 1000px) {
}
