.footer {
  width: 100%;
  min-height: 230px;
  background-color: rgb(41, 41, 41);
  border-top: 5px solid whitesmoke;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-info-container {
  margin: 30px;
}

.footer-info-container > div {
  margin: 10px;
  font-size: 20px;
  text-align: start;
}

.footer-icons {
  margin: 50px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.footer-icons :hover {
  cursor: pointer;
}

.logos:hover {
  fill: blue;
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
  }

  .footer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-info-container > div {
    text-align: center;
  }
}
